.main-content {
  display: flex;
  flex-flow: row;

  &__aside {
    display: block;
    width: 20rem;

    @media screen and (max-width: 500px) {
      width: 100px;
      float: none;
    }
  }

  &__weather {
    display: flex;
    flex-flow: column;
  }
}
