<div class="container">
  <div class="container__heading"><h4>Hourly Forecast</h4></div>
  <div class="container__body">
    <weather-summary [weather]="getCurrentWeather(1)"></weather-summary>
    <weather-summary [weather]="getCurrentWeather(2)"></weather-summary>
    <weather-summary [weather]="getCurrentWeather(3)"></weather-summary>
    <weather-summary [weather]="getCurrentWeather(4)"></weather-summary>
    <weather-summary [weather]="getCurrentWeather(5)"></weather-summary>
  </div>
  <div class="container__footer"></div>
</div>


