<div class="weather mdl-card mdl-shadow--2dp" *ngIf="getWeatherStation() !== undefined">
  <div class="mdl-card__title mdl-card--expand">
    <h3 class="mdl-card__title-text">
        {{getWeatherStation().temp_min}}/{{getWeatherStation().temp_max}}&#8451;
    </h3>
    <img src="{{getIcon()}}">
  </div>
  <div class="mdl-card__supporting-text">
    {{weatherStation.description | titlecase }}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-card__supporting-text--day">
      {{getDay()}}
    </a>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-card__supporting-text--day">
      Morning: {{getWeatherStation().morn}}
    </a>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-card__supporting-text--day">
      Day: {{getWeatherStation().day}}
    </a>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-card__supporting-text--day">
      Evening: {{getWeatherStation().eve}}
    </a>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-card__supporting-text--day">
      Night: {{getWeatherStation().night}}
    </a>
  </div>
</div>
