@import "../../../styles";

.weather.mdl-card {
  width: $default-card-size;
  height: 35rem;

}

.weather > .mdl-card__title {
  color: $temperature-font-color;
}

.weather > .mdl-card__title > img {
}

.mdl-card__supporting-text {
  &--day {
    color: black;
  }
}

.weather-summary {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--image-container {
      display: flex;
      flex-flow: row;

    }
    &--image {
      width: 69%;

    }

    &--image-spacer {
      width: 31%;
    }
  }

}
