<div class="container">
  <div class="container__heading"><h4>5 Day Forecast</h4></div>
  <div class="container__body">
    <detailed-weather-summary [weather]="getCurrentWeather(1)"></detailed-weather-summary>
    <detailed-weather-summary [weather]="getCurrentWeather(2)"></detailed-weather-summary>
    <detailed-weather-summary [weather]="getCurrentWeather(3)"></detailed-weather-summary>
    <detailed-weather-summary [weather]="getCurrentWeather(4)"></detailed-weather-summary>
    <detailed-weather-summary [weather]="getCurrentWeather(5)"></detailed-weather-summary>
  </div>
  <div class="container__footer"></div>
</div>


