@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$temperature-font-color: black;
$default-card-size: 20rem;
$component-default-padding: 1rem;

h4 {
  font-family: "Roboto","Helvetica","Arial", "sans-serif";
  font-weight: bold;
  font-size: 2rem;
  color: white;
}


h3 {
  font-family: "Roboto","Helvetica","Arial", "sans-serif";
  font-weight: bold;
  font-size: 1.5rem;
  color: black
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2');
}
