$temperature-font-color: black;
$default-card-size: 20rem;
$component-default-padding: 1rem;

h4 {
  font-family: "Roboto","Helvetica","Arial", "sans-serif";
  font-weight: bold;
  font-size: 2rem;
  color: white;
}


h3 {
  font-family: "Roboto","Helvetica","Arial", "sans-serif";
  font-weight: bold;
  font-size: 1.5rem;
  color: black
}
